/* Font, warna default, reset tambahan */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  @apply bg-white font-inter;
}

:root {
    --font-main: 'Inter', sans-serif;
    --color-primer: oklch(0.3 0.0749 145.58); /* #0F3714 */
    --color-sekunder: oklch(0.59 0.1239 130.44); /* #638b35 */
    --color-sekunderDark: oklch(0.42 0.1051 142.54); /* #255B22 */
    --color-tersier: oklch(0.61 0.0801 131.78); /* #728E5B */
    --color-kuarter: oklch(0.91 0.1501 123.02); /* #CEF17B */
    --color-bsoft: oklch(0.91 0.0845 130.49); /* #CEEDB2 */
    --color-bkrem: oklch(0.94 0.0825 112.34); /* #ECF2B2 */
    --color-bblue: oklch(0.88 0.0495 153.41); /* #BEE0C7 */
}